#articlesList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  
  .articleShort {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #2b355a;
    border: 1px solid #5766a3c2;
    padding: 0.5%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 4px;
    .content-wrapper {
      padding: 15px;
      color: #ffffff;

      .article-header-short {
        h3 {
          font-size: 1.5rem;
          color: #fdfdfd;
          margin-bottom: 10px;
        }
      }

      .text-container {
        span {
          font-size: 0.9rem;
          color: #fdfdfd;
        }
        .text-content {
          margin-top: 5px;
          font-size: 1rem;
          color: #fdfdfd;
        }
      }

      .link-container {
        margin-top: 10px;
        a {
          color: #ffcc00;
          text-decoration: none;
          font-weight: bold;
          transition: color 0.3s;
          &:hover {
            color: #ffd966;
          }
        }
      }
    }
 
   
  }
}
