@mixin textHighlight {
  color: black;
  padding: 2px 6px;
  box-decoration-break: clone;
  display: inline;
  background-color: rgba(211, 250, 13, 0.958);
}
@mixin simpleBox {
  padding: 0.5%;
  border-style: solid;
  border-width: 1px;
  border-color: #5766a3c2;
  background-color: #2b355a;
}

#contentSectionHome {
  margin-top: -1%;
  display: flex;

  .contentSectionHome-section {
    padding: 1%;
    width: 31%;
    max-width: 33%;
    margin-left: auto;
    margin-right: auto;
    min-height: 25vw;
    background-color: #5a6aa956;
    border-style: solid;
    border-width: 1px;
    border-color: #5766a3c2;
    div {
      p {
        padding: 10%;
        font-size: 1.4em;
      }
    }
  }
  #webDevSection {
    font-size: 0.8em;
    padding: 0.3%;
    #webDevOverview {
      @include simpleBox();
      height: fit-content;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      p {
        margin-left: auto;
        margin-right: auto;
        padding: 4%;
        span {
          @include textHighlight();
        }
      }
    }
    section {
      @include simpleBox();
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.5%;

      text-align: right;
      display: flex;
      width: 90%;
      height: fit-content;

      div {
        display: flex;
        align-items: flex-start;
        p {
          width: 79%;
          margin-left: auto;
          margin-top: -2%;
        }
        img {
            flex-shrink: 1; 
            border-style: solid;
            border-width: 3px;
            border-color: #5766a3c2;
            margin-top: 4%;
            max-width: 100%; 
            width: auto; 
            height: auto; 
          }
      }
    }
    footer {
      @include simpleBox;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2%;
      width: 90%;
      text-align: end;
    }
  }
  #softwareDevSection {
    font-size: 0.8em;
    padding: 0.3%;
    #softwareDevOverview {
      @include simpleBox();
      height: fit-content;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      p {
        margin-left: auto;
        margin-right: auto;
        padding: 4%;
        span {
          @include textHighlight();
        }
      }
    }
    section {
      @include simpleBox();
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.5%;
      display: flex;
      width: 90%;
      height: fit-content;
      flex-wrap: wrap;  // Hier wird das automatische Umbrechen erlaubt
      img {
        width: 90px;
        margin-left: auto;
        margin-right: auto;
      }
      div {
        display: flex;
        font-size: 0.6em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: 95%;
        margin: 1%;
        p {
          font-size: 2em;
        }
        i {
          font-size: 2.3em;
          margin-top: -1em;
        }
      }
    }
    footer{
        @include simpleBox();
        margin-top:1%;
        width:90%;
        margin-left:auto;
        margin-right:auto;
        display:flex;
        flex-direction: column;
        align-items:center;
        form{
            
            width:100%;
            margin-top: 0.5%;
            
            textarea{
               width:99%;
               height:10em;
            }
            div {  
                display: flex;
                justify-content: space-between;
                align-items: center; 
                
                input {
                  flex-grow: 1; 
                  max-width: 40%;
                }
              
                button {
                    border-radius:10%;
                }
              }
          
        }
      }
  }
  #embeddedSoftwareSection{
    display:flex;
    font-size: 0.8em;
    padding:0.3%;
    #embeddedSoftwareOverview{
        @include simpleBox();
        height: fit-content;
        width: 47%;
        margin-left: auto;
        margin-right: auto;
        p {
          margin-left: auto;
          margin-right: auto;
          padding: 4%;
          span {
            @include textHighlight();
          }
        }
    }
    #embeddedSoftwarePics {
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 100%; // Optional, falls die Box eine feste Höhe hat
    
        img {
            width: 100%;  // Bild soll die volle Breite der Box einnehmen
            height: 100%; // Falls nötig, damit es die volle Höhe nutzt
            object-fit: cover; // Sorgt dafür, dass das Bild gut aussieht
        }
    }
  }
  
}
