$primaryColor:rgba(211, 250, 13, 0.958);

@mixin textHighlight {
  color: black;
  padding: 2px 8px;
  font-size:1.4em;
  box-decoration-break: clone;
  display: inline;
  background-color: $primaryColor;
  };
  @mixin simpleBox {
  padding: 0.5%;
  border-style: solid;
  border-width: 1px;
  border-color: #5766a3c2;
  background-color: #202844;
  };


#contentSectionHome {

  margin-top: -1%;
  display: flex;
  flex-wrap: wrap;
  .contentSectionHome-section {
    padding-top:0.6%;
    width: 31.5%;
    margin-left: auto;
    margin-right: auto;
    min-height: 25vw;
    background: linear-gradient(to bottom,#2f3757, #202844 );
    border-style: solid;
    border-width: 1px;
    border-color: #5766a3c2;
    border-radius: 4px;
    div {
      border-radius: 4px;
      p {
        padding: 10%;
        font-size: 1.4em;
      }
    }
  }
  #webDevSection {
    font-size: 0.7em;
   
   
    #webDevOverview {
      @include simpleBox;
      height: fit-content;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      display:flex;
      flex-direction: column;
      span {
        @include textHighlight();
        width:fit-content;
        text-align: center;
        margin-left:2%;
        margin-top:2%;
        

      }
      p {
        margin-top:-2%;
        margin-left: auto;
        margin-right: auto;
        padding: 4%;
       
      }
    }
    section {
      @include simpleBox();
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.5%;

      text-align: right;
      display: flex;
      width: 90%;
      height: fit-content;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          width: 79%;
          margin-left: auto;
          margin-top: -2%;
        }
        #webDev-image-container{
        margin-top:-10%;
        }
      }
   
    }
    footer {
      @include simpleBox;
      width:90%;
      padding-top:2%;
      margin-top:2%;
      margin-left:auto;
      margin-right:auto;
      border-color:yellow;
      border-width:5px;
   h1{
    @include textHighlight();
    width:fit-content;
    margin-left:2%;
   }
   p{
    font-size:1.4em;
    margin-top:-2%;
    margin-left: auto;
    margin-right: auto;
    padding: 4%;
   }
    }
  }
  #softwareDevSection {
    font-size: 0.7em;
    #softwareDevOverview {
      @include simpleBox();
      height: fit-content;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      display:flex;
      flex-direction: column;
      span {
        @include textHighlight();
        width:fit-content;
        margin-top:2%;
        margin-left:2%;
      }
      p {
        margin-top:-2%;
        margin-left: auto;
        margin-right: auto;
        padding: 4%;
      }
    }
    section {
      @include simpleBox();
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.5%;
      display: flex;
      width: 90%;
      div {
        display: flex;
        font-size: 0.6em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: 95%;
        margin: 1%;
        p {
          font-size: 2em;
        }
        i {
          font-size: 2.3em;
          margin-top: -1em;
        }
      }
    }
    #idea-form-container{
        @include simpleBox();
        margin-top:1%;
        width:90%;
        margin-left:auto;
        margin-right:auto;
        display:flex;
        flex-direction: column;
        align-items:center;
        form{
            
            width:100%;
            margin-top: 0.5%;
            
            textarea{
               width:99%;
               height:10em;
               color:white;
               background-color:#3a446a;
               border-style:solid;
               border-width:1px;
               margin:1%;
            }
            div {  
                display: flex;
                justify-content: space-between;
                align-items: center; 
                padding:1%;
                input {
                  flex-grow: 1; 
                  max-width: 40%;
                  color:white;
                  background-color:#3a446a;
                }
              
                button {
                  color:white;
                  background-color: #3a446a;
                  border-radius:10%;
                  padding:1%;
                }
              }
          
        }
      }
      #skillChart {
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        padding:1%;
        display:flex;
        flex-direction:column;
        align-items:center;
        @include simpleBox();
      
        h1 {
          @include textHighlight();
          font-size: 1.2em;
     
        }
      
        table {
          margin-top: 1%;
          width: 100%;
          border-collapse: collapse;
         
          tr {
            td {
              color: white;
          
              border-radius: 5px;
              position: relative;
              display: flex;
              width: 94%;
              padding: 5px;
              height: 2.4em;
              align-items: center;
      
              .skillBar {
                height: 100%;
                border-radius: 5px;
                display: flex;
                align-items: center;
                color: white;
                font-weight: bold;
                padding-left: 10px;
                padding-right: 10px;
                .hover-indicator{
                  margin-left:1%;
                  border-style:solid;
                  border-width:1.5px;
                  display:flex;
                  padding:1%;
                  font-size:0.65em;
                
                  color:white;
                  background-color:#353c53cb;
                  &:hover{
                    border-style:none;
                    div{
                      display:none;
                    }
                  }
                  .frameworkName {
                    margin-left:1%;
                    display:none;
                    font-size: 1.2em;
                    margin:5%;
                    padding-right:5%;
                    width:fit-content;
                  }
          
                  &:hover .frameworkName {
                    display:inline-block;
                  }
                 
                }
                
              }
              
              
            }
      
            #htmlSkill {
              td {
                background-color: rgb(227, 76, 38);
              }
              .skillBar {
                width: 99%;
     
                background-color: rgb(227, 76, 38);
              }
            }
      
            #xamlSkill {
              td {
                background-color: rgb(66, 103, 178);
              }
              .skillBar {
                width: 55%;
                background-color: rgb(66, 103, 178);
              }
            }
      
            #cssSkill {
              td {
                background-color: rgb(38, 77, 228);
              }
              .skillBar {
                width: 90%;
                background-color: rgb(38, 77, 228);
              }
            }
      
            #jsSkill {
              td {
                background-color: rgb(247, 223, 30);
              }
              .skillBar {
                width: 80%;
                background-color: rgb(247, 223, 30);
                color: black;
              }
            }
      
            #pySkill {
              td {
                background-color: rgb(53, 114, 165);
              }
              .skillBar {
                width: 75%;
                background-color: rgb(53, 114, 165);
              }
            }
      
            #csharpSkill {
              td {
                background-color: rgb(155, 89, 182);
              }
              .skillBar {
                width: 65%;
                background-color: rgb(155, 89, 182);
              }
            }
      
            #cppSkill {
              td {
                background-color: rgb(0, 122, 204);
              }
              .skillBar {
                width: 35%;
                background-color: rgb(0, 122, 204);
              }
            }
      
            #holyCSkill {
              td {
                background-color: rgb(153, 0, 0);
                
              }
              .skillBar {
                width: 9%;
                background-color: rgb(153, 0, 0);
                overflow:hidden;
              }
            }
          }
        }
      }
      
  }
  #embeddedSoftwareSection{
    display:flex;
    font-size: 0.7em;
  
    #embeddedSoftwareOverview{
        @include simpleBox();
        height: fit-content;
        width: 47%;
        margin-left: auto;
        margin-right: auto;
        display:flex;
        flex-direction: column;
        span {
          @include textHighlight();
          width:fit-content;
          margin-top:2%;
          margin-left:2%;
        }
      
        div{
          border-style: solid;
          border-width: 1px 0px 0px 0px;
          border-color: #5766a3c2;
          h1{
            margin-left:2%;
            text-align: center;
          }
          p{
            margin-top:-10%;
          }
        }
    }
    #embeddedSoftwarePics {
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 100%; // Optional, falls die Box eine feste Höhe hat
        img{
        object-fit: cover;
        width:auto;
            
        }
        p {
          @include simpleBox();
          font-size:1.4em;
          width:90%;
          padding:3%;
          margin-top:10%;
        }
    }
  }
  
}
/* Media Query für kleinere Bildschirme */
@media (max-width: 1024px) {
  #contentSectionHome .contentSectionHome-section {
    width:70vw;
  }
  #contentSectionHome {
    flex-direction: column;  /* Stellt die Sections untereinander */
  }

  .contentSectionHome-section {
    width: 90%;  /* Stellt sicher, dass jede Section 90% der Breite einnimmt */
    margin-top: 10px;  /* Fügt Abstand zwischen den Sections hinzu */
  
  }
}

/* Media Query für sehr kleine Bildschirme */
@media (max-width: 768px) {
  .contentSectionHome-section {
   
    width: 80vw;  /* Jede Section nimmt die volle Breite ein */
    margin-top: 15px;  /* Größerer Abstand für bessere Lesbarkeit */
   
  }
  #contentSectionHome .contentSectionHome-section {
    width:70vw;
  }
  #contentSectionHome #webDevSection section {
    flex-direction: column;

  }
  
  #contentSectionHome #embeddedSoftwareSection {
    
    flex-direction: column;
    
  }
  #contentSectionHome #embeddedSoftwareSection #embeddedSoftwareOverview {
  

margin-left:0%;
margin-right:0%;
width:100%;
  }

  /* Optional: Schriftgröße anpassen */
  .contentSectionHome-section p {
    font-size: 1.2em;  /* Kleinere Schriftgröße auf mobilen Geräten */
  }


}