
.quote-container {
    font-size: 1.2rem;
    color: #8faadc; 
    font-style: italic;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width:90%;
    transition: all 0.5s ease-in-out;
    padding: 1rem;

    border-style:solid;
    border-width:0px 0px 1px 0px;
    border-color:#8faadc58;
  }
  
  .quote-text,
  .quote-author {
    
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }
  
  .quote-author {
    margin-top: 10px; 
    font-size: 1rem;
    color: #a0b9d3;
    text-align: center; 
    position: relative;
    left: 10%; 
  }