$primaryColor:rgba(211, 250, 13, 0.958);

@mixin textHighlight {
    color: black;
    padding: 2px 8px;
    font-size:1.4em;
    box-decoration-break: clone;
    display: inline;
    background-color: $primaryColor;
    };
    @mixin simpleBox {
    padding: 0.5%;
    border-style: solid;
    border-width: 1px;
    border-color: #5766a3c2;
    background: linear-gradient(135deg, #1c202c, #2226592c);
    };
  

#skillChart {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding:1%;
    display:flex;
    flex-direction:column;
    align-items:center;
    @include simpleBox();
    border-radius: 12px;
  
    h1 {
      @include textHighlight();
      font-size: 1.2em;
 
    }
  
    table {
      margin-top: 1%;
      width: 100%;
      border-collapse: collapse;
     
      tr {
        td {
          color: white;
      
          border-radius: 5px;
          position: relative;
          display: flex;
          width: 94%;
          padding: 5px;
          height: 2.4em;
          align-items: center;
  
          .skillBar {
            height: 100%;
            border-radius: 5px;
            display: flex;
            align-items: center;
            color: white;
            font-weight: bold;
            padding-left: 10px;
            padding-right: 10px;
            .hover-indicator{
              margin-left:1%;
              border-style:solid;
              border-width:1.5px;
              display:flex;
              padding:1%;
              font-size:0.65em;
            
              color:white;
              background-color:#353c53cb;
              &:hover{
                border-style:none;
                div{
                  display:none;
                }
              }
              .frameworkName {
                margin-left:1%;
                display:none;
                font-size: 1.2em;
                margin:5%;
                padding-right:5%;
                width:fit-content;
              }
      
              &:hover .frameworkName {
                display:inline-block;
              }
             
            }
            
          }
          
          
        }
  
        #htmlSkill {
          td {
            background-color: rgb(227, 76, 38);
          }
          .skillBar {
            width: 99%;
 
            background-color: rgb(227, 76, 38);
          }
        }
  
        #xamlSkill {
          td {
            background-color: rgb(66, 103, 178);
          }
          .skillBar {
            width: 55%;
            background-color: rgb(66, 103, 178);
          }
        }
  
        #cssSkill {
          td {
            background-color: rgb(38, 77, 228);
          }
          .skillBar {
            width: 90%;
            background-color: rgb(38, 77, 228);
          }
        }
  
        #jsSkill {
          td {
            background-color: rgb(247, 223, 30);
          }
          .skillBar {
            width: 80%;
            background-color: rgb(247, 223, 30);
            color: black;
          }
        }
  
        #pySkill {
          td {
            background-color: rgb(53, 114, 165);
          }
          .skillBar {
            width: 75%;
            background-color: rgb(53, 114, 165);
          }
        }
  
        #csharpSkill {
          td {
            background-color: rgb(155, 89, 182);
          }
          .skillBar {
            width: 65%;
            background-color: rgb(155, 89, 182);
          }
        }
  
        #cppSkill {
          td {
            background-color: rgb(0, 122, 204);
          }
          .skillBar {
            width: 35%;
            background-color: rgb(0, 122, 204);
          }
        }
  
        #holyCSkill {
          td {
            background-color: rgb(153, 0, 0);
            
          }
          .skillBar {
            width: 9%;
            background-color: rgb(153, 0, 0);
            overflow:hidden;
          }
        }
      }
    }
  }