// General Style:
@use "Mixins.scss";
@use "FooterMain.scss";
@use "MenuBar.scss";
// Main Page
@use "Home.scss";

@use "BannerTop.scss";
    // Content Section Main Page
    @use "Quotes.scss";
    @use "ContentSectionHome.scss";

// Blog 
@use "ArticlesList.scss";
@use "ArticlePage";

// Footer Pages:

@use "Impressum.scss";
@use "Datenschutz.scss";

@use "Tools.scss";
    @use "PyLibs.scss";
    @use "TailwindClasses.scss";
    @use "Xaml-list.scss";
    @use "CsharpLibs.scss";
    