// General Style:
@use "Mixins.scss";
@use "FooterMain.scss";
@use "MenuBar.scss";
// Main Page
@use "Home.scss";
   
    @use './Hypercube.scss';
    @use "BannerTop.scss";
    // Content Section Main Page
        @use "Quotes.scss";
        @use "ContentSectionHome.scss";
        @use './PolygonSlider.scss';
        @use "Skillchart.scss";

// Blog 
@use "ArticlesList.scss";
@use "ArticlePage";

// Footer Pages:

@use "Impressum.scss";
@use "Datenschutz.scss";
@use 'Sitemap.scss';
@use 'Nutzungsbedingungen.scss';
@use "Tools.scss";
    @use "PyLibs.scss";
    @use "TailwindClasses.scss";
    @use "Xaml-list.scss";
    @use "CsharpLibs.scss";

